# base
snippet base
	CC=gcc
	CFLAGS=-g -Wall -Wextra -Werror -o ${OUTFILE}
	OUTFILE=burglar_alarm

	FILES=${0}
	
	all: main
		@ ./${OUTFILE}
	
	main: \${FILES} Makefile
		@ \${CC} \${CFLAGS} \${FILES}

