# base
snippet g++
	FILES = ${0}
	OUTFILE = main
	CFLAGS = -g -Wall -Wextra -Werror -o \${OUTFILE}

	main: \${FILES} Makefile
		@ g++ \${CFLAGS} \${FILES}

snippet gcc
	CFLAGS = -g -Wall -Wextra -Werror

	main:
		@ gcc \${CFLAGS} -o a.out \\
			${0}
